<!doctype html>
{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <p id="headline-1">Cover Your Nose</p>
    <p id="headline-2">A website checking if you are wearing a mask properly.
    </p>
    <a href="https://www.olmmed.org/covid-19-information/how-to-wear-a-mask/#:~:text=For%20the%20mask%20to%20be,tightly%20against%20the%20face."
        target="_blank" rel="noopener noreferrer">
        How to correctly wear a mask?</a>
    {% block image %}
    {% endblock %}
    <img id="result-image" src="static/logo.png">
    <p id="upload-label">Please upload a mug shot</p>

    <input type="file" accept="image/*" id="imageUpload">
    <label for="imageUpload"><i class="fas fa-camera" id="imageupload-icon"></i></label>
</div>
{% endblock %}
