.DS_Store
.idea
Data/*
RCNN/checkpoints/
RCNN/Data/*
SSDPyTorch/eval/*
SSDPyTorch/conf0.2/*
__pycache__
SSDPyTorch/weights/*
SSDPyTorch/BigMaskDataset/val/*
SSDPyTorch/BigMaskDataset/train/*
SSDPyTorch/BigMaskDataset/selfie/*
.vscode
torch-mask-detector-image/tmp/*
