body {
	max-width: 1500px;
	margin: auto;
	font-family: "Raleway", sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	color: rebeccapurple;
	background-color: #ffebcd;
}

.container {
	text-align: center;
	background-color: #ffebcd;
}

.link {
	margin-top: 5px;
	margin-bottom: 20px;
}

#headline-1 {
	font-size: xx-large;
	font-weight: bolder;
	color: #191970;
}

#headline-2 {
	font-size: x-large;
	font-weight: bold;
	color: #191970;
}

#result-image {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#upload-label {
	font-size: xx-large;
	font-weight: bolder;
}

#imageUpload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	/* overflow: hidden; */
	position: absolute;
	z-index: -1;
}

#imageUpload + label {
	font-size: 1.25em;
	font-weight: 700;
	display: inline-block;
}

#imageUpload + label {
	cursor: pointer;
}

#imageUpload:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

#imageupload-icon {
	font-size: 50px;
}
